<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <model-comp v-model.custom="value" v-model:title.custom="title"></model-comp>
    <async-comp></async-comp>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const { createApp } = Vue
    const app = createApp({
      data() {
        return {
          title: '',
          value: ''
        }
      },
      watch: {
        value(val) {
          console.log('v-model change', val)
        },
        title(val) {
          console.log('v-model:title change', val)
        }
      }
    })
    
    // v-model 在组件上的实现，多属性同步可以用 v-model:title
    app.component('model-comp', {
      props: ['modelValue', 'modelModifiers', 'title', 'titleModifiers'],
      emits: ['update:modelValue', 'update:title'],
      template: `<div><input v-model="value"><input v-model="titleValue"></div>`,
      computed: {
        value: {
          get() {
            return this.modelValue
          },
          set(value) {
            console.log('value modifiers', this.modelModifiers)
            this.$emit('update:modelValue', value)
          }
        },
        titleValue: {
          get() {
            return this.title
          },
          set(value) {
            console.log('title modifiers', this.titleModifiers)
            this.$emit('update:title', value)
          }
        }
      }
    })

    // 异步组件
    app.component('async-comp', Vue.defineAsyncComponent(() => new Promise((resolve, reject) => {
      resolve({
        // v-once 可以用在静态内容组件上，保证只渲染一次
        template: '<div v-once>async-comp</div>'
      })
    })))

    const vm = app.mount('#app')
  </script>
</body>
</html>